

.produtos {
  padding: 60px 10%;
}

.produtos h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: left;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.cards-container.show
{
  opacity: 1;
  transform: translateY(0);
}

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #000;
}

.card p {
  font-size: 0.95rem;
  color: #555;
  margin: 10px 0 20px;
  padding: 0 15px;
}

.card button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background-color: #333;
}

/* Responsivo */
@media (max-width: 768px) {
  .produtos {
    padding: 40px 5%;
  }

  .card img {
    height: 160px;
  }
}